@model WebApp.Models.PriceModel
@using DynabicBilling.RestApiDataContract;
@{
    Layout = null;
}
<table cellpadding="0" cellspacing="0" class='simple-table'>
    <tr>
        <th>
            Plan name
        </th>
        @{
            var planNames = Model.PlanItems.Select(i => i.PlanName).Distinct();
            foreach (var name in planNames)
            {
            <th>
                <span>
                    @{
                    var planItem = Model.PlanItems.FirstOrDefault(i => i.PlanName == name);
                    var schedule = planItem.PricingPlanPaymentSchedule;
                    @: @name
                    if (schedule.SubscriptionPeriodCharge > 0)
                    {
                        @:(@schedule.SubscriptionPeriodCharge.ToString("0.##") @planItem.CurrencyCode
                        @: every @schedule.FrequencyRecurrenceFactor
                        @((schedule.FrequencyType == DynabicBilling.RestApiDataContract.RecurringCyclePeriod.Daily) ? "days" : "months")@:)
                    }
                    }
                </span>
            </th>
            }
        }
    </tr>
    @foreach (var itemName in Model.PlanItems.Select(i => i.ItemName).Distinct())
    {
        <tr>
            <td>
                <span>@itemName</span>
            </td>
            @{ 
        planNames = Model.PlanItems.Select(i => i.PlanName).Distinct();
        foreach (var planName in planNames)
        {
            var planItem = Model.PlanItems.FirstOrDefault(i => i.ItemName == itemName && i.PlanName == planName);
            if (planItem != null)
            {
                if (planItem.ChargeModel == ChargeModel.Unavailable)
                {
                <td style="text-align: center">
                    <img src='@Url.Content("~/Content/images/MinusSymbol.png")'
                    alt="unavailable" />
                </td>
                }
                else if (planItem.ProductItemType == ProductItemType.OnOff)
                {
                <td style="text-align: center">
                    <img src='@Url.Content("~/Content/images/CheckSymbol.png")'
                    alt="available" />
                </td>
                }
                else
                {
                <td>
                    @foreach (var price in planItem.MeteredPrices)
                    { 
                        <div>@price.ToString()</div>
                    }
                </td>
                }
            }
            else
            {
                <td>
                </td>
            }
        }
            }
        </tr>
    }
</table>
