@model WebApp.Models.AccountInfoModel
@{
    ViewBag.Title = "AccountInfo";
}
<hgroup class="page-header">
        <h1>Change Account Information</h1>
        <h2><small>Use the form below to edit your account information.</small></h2>
    </hgroup>
<script src="@(Url.Content("~/Scripts/jquery.validate.min.js"))"></script>
<script src="@(Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"))"></script>
@using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @(Html.ValidationSummary(true, "Please correct the errors and try again."))

    <fieldset>
        <legend>Edit Account Information</legend>
        @{ Html.RenderPartial("_PageMessagePartial", Model.PageMessage);}
        <div class="control-group">
            @(Html.LabelFor(m => m.Email, new { @class = "control-label" }))
            <div class="controls">
                <div class="input-append">
                    @(Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge" }))
                </div>
                @(Html.ValidationMessageFor(m => m.Email))
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
        </div>
    </fieldset>
}