@model WebApp.Models.PaymentInfoModel
@{
    ViewBag.Title = "Payment Info";
}
<hgroup class="title">
    <h1>Payment Information</h1>
    <h2><small>Use the form below to set your Credit Card details.</small></h2>
</hgroup>
<script src="@(Url.Content("~/Scripts/jquery.validate.min.js"))"></script>
<script src="@(Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"))"></script>
@using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @(Html.ValidationSummary(true, "Please correct the errors and try again."))

    <fieldset id="payment-info">
        <legend>Payment Information</legend>
        @Html.EditorFor(m => m.CreditCard, "CreditCardPartialView")
    </fieldset>
    
    <fieldset id="billing-address">
        <legend>Billing Address</legend>
        @Html.EditorFor(m => m.BillingAddress, "BillingAddressPartialView")
    </fieldset>
    <div class="form-actions">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
        <input type="submit" class="cancel btn" name="cancel" value="Cancel" />
    </div>
}
<script type="text/javascript">
    $('#CreditCard_ExpirationDate').datepicker();
</script>
