@if (Request.IsAuthenticated)
{
    <ul class="nav secondary-nav">
        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@(Html.ActionLink("Payment Info", "PaymentInfo", "Account"))</li>
                <li>@(Html.ActionLink("Change Plan", "ChangePlan", "Account"))</li>
                <li>@(Html.ActionLink("Current Subscription Details", "SubscriptionDetails", "Account"))</li>
                <li class="divider"></li>
                <li>@(Html.ActionLink("Edit Account Info", "AccountInfo", "Account"))</li>
                <li>@(Html.ActionLink("Change Password", "ChangePassword", "Account"))</li>
            </ul>
        </li>
    </ul>
}