@model WebApp.Models.BillingAddressModel
@Html.HiddenFor(m => m.BillingAddressId)
<div class="control-group">
    @(Html.LabelFor(m => m.BillingFirstName, new { @class = "control-label" }))
    <div class="controls">
        <div class="input-append">
            @(Html.TextBoxFor(m => m.BillingFirstName, new { @class = "input-xlarge" }))
        </div>
        @(Html.ValidationMessageFor(m => m.BillingFirstName))
    </div>
</div>
<div class="control-group">
    @(Html.LabelFor(m => m.BillingLastName, new { @class = "control-label" }))
    <div class="controls">
        <div class="input-append">
            @(Html.TextBoxFor(m => m.BillingLastName, new { @class = "input-xlarge" }))
        </div>
        @(Html.ValidationMessageFor(m => m.BillingLastName))
    </div>
</div>
<div class="control-group">
    @(Html.LabelFor(m => m.BillingAddress1, new { @class = "control-label" }))
    <div class="controls">
        <div class="input-append">
            @(Html.TextBoxFor(m => m.BillingAddress1, new { @class = "input-xlarge" }))
        </div>
        @(Html.ValidationMessageFor(m => m.BillingAddress1))
    </div>
</div>
<div class="control-group">
    @(Html.LabelFor(m => m.BillingCountry, new { @class = "control-label" }))
    <div class="controls">
        <div class="input-append">
            @(Html.TextBoxFor(m => m.BillingCountry, new { @class = "input-xlarge" }))
        </div>
        @(Html.ValidationMessageFor(m => m.BillingCountry))
    </div>
</div>
<div class="control-group">
    @(Html.LabelFor(m => m.BillingProvince, new { @class = "control-label" }))
    <div class="controls">
        <div class="input-append">
            @(Html.TextBoxFor(m => m.BillingProvince, new { @class = "input-xlarge" }))
        </div>
        @(Html.ValidationMessageFor(m => m.BillingProvince))
    </div>
</div>
<div class="control-group">
    @(Html.LabelFor(m => m.BillingCity, new { @class = "control-label" }))
    <div class="controls">
        <div class="input-append">
            @(Html.TextBoxFor(m => m.BillingCity, new { @class = "input-xlarge" }))
        </div>
        @(Html.ValidationMessageFor(m => m.BillingCity))
    </div>
</div>
<div class="control-group">
    @(Html.LabelFor(m => m.BillingZipPostalCode, new { @class = "control-label" }))
    <div class="controls">
        <div class="input-append">
            @(Html.TextBoxFor(m => m.BillingZipPostalCode, new { @class = "input-small" }))
        </div>
        @(Html.ValidationMessageFor(m => m.BillingZipPostalCode))
    </div>
</div>
