@model WebApp.Models.ChangePasswordModel
@using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @(Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again."))

    <fieldset>
        <legend>Change Password Form</legend>
        @{ Html.RenderPartial("_PageMessagePartial", Model.PageMessage);}
        <div class="control-group">
            @(Html.LabelFor(m => m.OldPassword, new { @class = "control-label" }))
            <div class="controls">
                <div class="input-append">
                    @(Html.PasswordFor(m => m.OldPassword, new { @class = "input-xlarge" }))
                </div>
                @(Html.ValidationMessageFor(m => m.OldPassword))
            </div>
        </div>
        <div class="control-group">
            @(Html.LabelFor(m => m.NewPassword, new { @class = "control-label" }))
            <div class="controls">
                <div class="input-append">
                    @(Html.PasswordFor(m => m.NewPassword, new { @class = "input-xlarge" }))
                </div>
                @(Html.ValidationMessageFor(m => m.NewPassword))
            </div>
        </div>
        <div class="control-group">
            @(Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }))
            <div class="controls">
                <div class="input-append">
                    @(Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xlarge" }))
                </div>
                @(Html.ValidationMessageFor(m => m.ConfirmPassword))
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </fieldset>
}