@model WebApp.Models.SubscriptionDetailsModel
@{
    ViewBag.Title = "Subscription Details";
}
<hgroup class="title">
    <h1>Subscription Details</h1>
</hgroup>
<div class='form-horizontal'>
    <fieldset>
        <legend>Subscription Information</legend>
        @{ Html.RenderPartial("_PageMessagePartial", Model.PageMessage);}
        <div class="control-group">
            @Html.LabelFor(m => m.SubscriptionStatus, new { @class = "control-label" })<span class="control-label-value"><strong>@Model.SubscriptionStatus</strong></span>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.CreditCardNumber, new { @class = "control-label" })<span class="control-label-value"><strong>@(string.IsNullOrWhiteSpace(Model.CreditCardNumber) ? "No card on file" : Model.CreditCardNumber)</strong></span>&nbsp;@(Html.ActionLink("Edit Payment Details", "PaymentInfo", "Account", new { @class = "btn" }))
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.NextAssesment, new { @class = "control-label" })<span class="control-label-value"><strong>@(Model.NextAssesment.HasValue ? Model.NextAssesment.Value.ToShortDateString() : "None")</strong></span>
        </div>
    </fieldset>
    <fieldset>
        <legend>Plan Information</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.CurrentPlanName, new { @class = "control-label" })<span class="control-label-value"><strong>@Model.CurrentPlanName</strong></span>&nbsp;@(Html.ActionLink("Change Current Plan", "ChangePlan", "Account", new { @class = "btn" }))
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.MonthlyCost, new { @class = "control-label" })<span class="control-label-value"><strong>@Model.MonthlyCost</strong></span>
        </div>
    </fieldset>
    <fieldset>
        <legend>Transactions</legend>
        @if (Model.Transactions.Count > 0)
        {
            <table class='simple-table'>
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>
                                @transaction.TransactionDate.ToShortDateString()
                            </td>
                            <td>
                                @transaction.TransactionType
                            </td>
                            <td>
                                @transaction.Details
                            </td>
                            <td>
                                @string.Format("{0:0.00#####} {1}", transaction.Amount, Model.CurrencyCode)
                            </td>
                            <td>
                                @transaction.TransactionStatus
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>There are no transactions for this Subscription yet.</span>
        }
    </fieldset>
</div>
