@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
    <div class="hero-unit">              
    <h1>@(ViewBag.Message)</h1>
   
  <p>
            To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>. 
            The page features <span class="highlight">videos, tutorials, and samples</span> to help you get the most from 
            ASP.NET MVC. If you have any questions about ASP.NET MVC visit 
            <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
        </p>
    <p><a class="btn btn-primary btn-large" href="http://asp.net/mvc">Learn more &raquo;</a></p>     
</div>  
    </section>
}
<h2>
    We suggest the following:</h2>
<div class="row">
    <div class="span4">
        <h3>
            Configure ASP.NET Membership</h3>
        <p>
            ASP.NET membership gives you a built-in way to create, store, and validate user
            credentials (authentication). By default, membership works with a local instance
            of SQL Server, but you can configure it to use another database.</p>
        <p>
            @(Html.ActionLink("View details »", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn" }))
        </p>
    </div>
    <div class="span4">
        <h3>
            Add NuGet packages</h3>
        <p>
            NuGet makes it easy to install and update free libraries and tools in Visual Studio.
            In <em>Solution Explorer</em>, right-click the <em>References</em> node, select
            <em>Manage NuGet Packages</em>, and then pick from the extensive list of packages.</p>
        <p>
            @(Html.ActionLink("View details »", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn" }))
        </p>
    </div>
    <div class="span4">
        <h3>
            Setup deployment to your web server</h3>
        <p>
            Use Microsoft Web Deploy to quickly and easily publish your application to a web
            server. In <em>Solution Explorer</em>, right-click your project, select <em>Publish</em>,
            and choose one of the many options to get your code deployed and running on the
            web.</p>
        <p>
            @(Html.ActionLink("View details »", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn" }))
        </p>
    </div>
</div>
<hr />
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <img src="@(Url.Content("~/Images/aspNetHome.png"))" alt="" />
            <div class="caption">
                <h5>
                    Home of ASP.NET</h5>
                <p>
                    ASP.NET is a free, fully supported Web application framework that helps you create
                    standards-based web solutions. Whether you're new to ASP.NET or an experienced developer,
                    the <a href="http://asp.net">ASP.NET website</a> is your source for news, training,
                    downloads, and support.
                </p>
                <p>
                    @(Html.ActionLink("Action", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" }))
                    @(Html.ActionLink("Action", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn" }))
                </p>
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <img src="@(Url.Content("~/Images/NuGetGallery.png"))" alt="" />
            <div class="caption">
                <h5>
                    NuGet Gallery</h5>
                <p>
                    NuGet is a Visual Studio extension that makes it easy to install and update open
                    source libraries and tools in Visual Studio. To see available packages, visit the
                    <a href="http://nuget.org">NuGet gallery</a>. You can also develop your own package
                    and share it in the gallery.
                </p>
                <p>
                    @(Html.ActionLink("Action", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" }))
                    @(Html.ActionLink("Action", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn" }))
                </p>
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <img src="@(Url.Content("~/Images/findHosting.png"))" alt="" />
            <div class="caption">
                <h5>
                    Find Web Hosting</h5>
                <p>
                    You can easily find a web hosting company that offers the right mix of features
                    and price for your applications. Visit <a href="http://microsoft.com/web/hosting"
                        title="Microsoft/Web Website">Microsoft.com/web</a> to explore offerings from
                    many providers.
                </p>
                <p>
                    @(Html.ActionLink("Action", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" }))
                    @(Html.ActionLink("Action", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn" }))
                </p>
            </div>
        </div>
    </li>
</ul>
